
/vendor
/node_modules


.env
.git
.gitignore
.gitattributes
.gitlab-ci.yml


/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*


/public/hot
/public/storage
/public/js/*
/public/css/*


npm-debug.log
yarn-error.log
