@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background: radial-gradient(circle, #ffffff, #5c9dc2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    height: 100vh;

}

#tim {
    display: none !important;
}

h1 {
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

h1.title {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

span {
    font-size: 14px;
    margin-top: 20px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #4bb6b7;
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input {
    accent-color: #333;
    width: 12px;
    height: 12px;
}

.content label {
    font-size: 14px;
    user-select: none;
    padding: 5px;
}

button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #686c78;
    background-color: #36446d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 20px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #575a64;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    color: #fff;
}

button.ghost:hover {
    background-color: rgba(44, 57, 94, 0.2);
    color: #f1fa78;

}


#login i {
    position: absolute;
    left: 50px;
}

#register i {
    position: absolute;
    right: 50px;
}

button.ghost i {
    position: absolute;
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 6;
}

button.ghost i.register {
    right: 70px;
}

button.ghost i.login {
    left: 70px;
}


.container1 form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.container1 input {
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
    padding: 5px 15px;
    margin: 8px 0;
    width: 100%;
}

.container1 {
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 750px;
    max-width: 100%;
    min-height: 500px;
    margin: auto;

}

.form-container1 {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-control {
    width: 100%;
    position: relative;
    border: none;
}

.form-control2 {
    width: 100%;
    position: relative;
    border: none;
}



.form-control2 input:focus~span {
    width: 100%;
}

.form-control2 small {
    color: red;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 12px;
    z-index: 100;
}

.form-control2 input[type="password"] {
    position: relative;
    width: 100%;
    padding-right: 50px !important;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: #f8fbff;
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}



.form-control2 .btn-dn {
    position: absolute;
    right: -15px !important;
    top: 17%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    line-height: 1;
    padding: 0;
}

.form-control2 button:hover {
    color: #007bff;
}


.form-control input[type="password"] {
    position: relative;
    width: 100%;
    padding-right: 40px !important;
    padding-left: 10px;
    height: 45px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: #f8fbff;
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}



.form-control .btn-dk {
    position: absolute;
    right: -40px;
    top: 25%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #666;
    font-size: 18px;
    line-height: 1;
    padding: 0;
}

.form-control button:hover {
    color: #007bff;
}





.form-control input:focus~span {
    width: 100%;
}

.form-control small {
    color: red;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 10px;
    z-index: 100;
}







.login-container1 {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container1.right-panel-active .login-container1 {
    transform: translateX(100%);
}

.register-container1 {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container1.right-panel-active .register-container1 {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container1 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container1.right-panel-active .overlay-container1 {
    transform: translate(-100%);
}

.overlay {

    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(46, 94, 109, 0.4) 40%,
            rgba(46, 94, 109, 0));
}

.container1.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container1.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container1 {
    margin: 20px 0;
    padding: 10px;

}

.social-container1 a {
    border: 1px solid #dddddd;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 50px;
    width: 240px;
    transition: 0.3s ease-in-out;
}

.social-container1 i {
    margin-right: 10px;
}

.social-container1 a:hover {
    border: 1px solid #4bb6b7;
}

#XacNhanMatKhau-error {
    margin-top: 18px;
    display: block;
    color: red;
    font-size: 0.9em;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #18181d 0%, #343746 100%);
}