html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.dark-mode .business-content {
    background: #3b3b3b !important;
    color: #ffffff;
}

.dark-mode .business-links h3 {
    color: #ffffff;
}

.dark-mode .business-links {
    background-color: #1a1a1a;
}



.dark-mode .business-links1,
.dark-mode .business-links .secondary {
    background-color: #313131;
    color: #ffffff;
}


.dark-mode .business-links .secondary:hover {
    background-color: #505050;
}

.dark-mode .business-links a.active {
    background-color: #1b1b1b;
}

.dark-mode .business-links a.active:hover {
    background-color: #666666;
}



.business-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

/* Sidebar bên trái */
.business-links {
    width: 280px;
    background-color: #fffffff3;
    padding: 30px 0px 20px 20px;
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
    overflow-x: hidden;

}

.business-links h3 {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

.business-links1 {
    background-color: #ffffff;
    padding: 10px 0px 10px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.business-links .secondary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    background-color: #fdfdfd;
    padding: 20px 15px;
    transition: 0.3s;
    border-bottom: 1px solid #000000;
}

.business-links .secondary:hover {
    background-color: #f0f0f0;
}

.business-links a.active {
    background-color: #e9e9e9;
    color: #000000;
    transform: scale(1.03);
}

.business-links a.active:hover {
    background-color: #fff4dd;
}

.business-links i {
    margin-right: 8px;
}

/* Nội dung bên phải */
.business-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;

}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}



/* Hiệu ứng responsive */
@media (max-width: 768px) {
    .business-container {
        flex-direction: column;
    }

    .business-links {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .business-links a {
        width: 45%;
        justify-content: center;
    }
}