html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.dark-mode,
html.dark-mode {
    background: #18191a;
    color: #e4e6eb;
}

.dark-mode .container,
.dark-mode .sidebar-right,
.dark-mode .container1,
.dark-mode #my-controls {
    background: #242526;
    color: #ffffff;
    box-shadow: none;
    border: none;
}

.dark-mode .container1,
.dark-mode #my-controls,
.dark-mode .bat_da,
.dark-mode .Share {
    background: #3e3f3f;
    color: #ffffff;
    box-shadow: none;
}

.dark-mode .user-audio {
    background: #353535;
    color: #ffffff;
    box-shadow: none;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    align-items: flex-start;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
}

.sidebar-right {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

}


button {
    background-color: #445d77;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #194069;
}



.header {
    text-align: center;
    margin-bottom: 20px;
}

.bat_dau {
    width: 100%;
    border-radius: 5px;
    background-color: #ececec;
    color: #000;
}

.bat_dau:hover {
    background-color: #dddddd;
}




#my-controls {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}



#my-controls label {
    display: block;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

progress#mic-level {
    width: 100%;
    height: 10px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #acdb60;
    border-radius: 10px;
}

.container1 {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
}



.nguoi_nghe {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.user-audio {
    border-radius: 5px;
    max-width: 600px;
    padding: 10px;
    background-color: #e9e9e9;
    color: #000000;
}

button i {
    font-size: 18px;
}

#stop-voice {
    background-color: #dc3545;
}

#stop-voice:hover {
    background-color: #a71d2a;
}

#remoteScreens {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
}



.sidebar-right p {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.5;
}

.sidebar-right h3,
.sidebar-right h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.Share {
    display: block;
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ececec;
    color: #000;
    transition: background-color 0.3s ease;
}

.hide {
    display: none !important;

}


.Stop_share {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ca6b53;
    color: white;
    transition: background-color 0.3s ease;
}

.Stop_share:hover {
    background-color: #be431e;
}

.Share:hover {
    background-color: #dddddd;
}

.sidebar-right video {
    width: 100%;
    margin-top: 10px;
    border: 3px solid rgb(214, 175, 101);
    border-radius: 10px;


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#screenPreview {
    width: 100%;
    max-width: 220px;
    height: auto;
    border: 1px dashed rgb(194, 202, 75);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#screenPreview:hover {
    border: 1px dashed rgb(202, 245, 72);
}

#remoteScreens {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
}

#remoteScreens video {
    width: 100%;
    height: 500px;
    border: 3px solid orange;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#remoteScreens:fullscreen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.volume-slider {
    accent-color: #7477a0;
}