body {
    font-family: Arial, sans-serif;
    background: #f5f6f7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.feed {
    flex: 2;
    padding: 20px;
    background: #463e3e;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

button {
    padding: 6px 12px;
    margin: 5px;
    background: #1877f2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #145dbf;
}